:root {
  --color-primary-normal: #000;
}

*,
::after,
::before {
  font-family: serif;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--color-primary-normal);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  line-hight: ;
  letter-spacing: ;
}
li {
  list-style: none;
}
img {
  min-width: 100%;
}
a {
  color: var(--color-primary-normal);
  text-decoration: none;
}

.flex {
  display: flex;
}

/* header area */
ul {
  justify-content: space-around;
}
nav a {
  text-transform: uppercase;
}
.logo {
  width: ;
}
/* content area */
.container {
}
