<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Geeks CSS</title>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">


</head>
<body>
	<header class="flex">
		<div class="logo">
			<a href="./index.html"><img src="" alt=""></a>
		</div>
		<nav class="global">
			<ul class="flex">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="inner">
					<h2></h2>
					<p></p>
				</div>
			</div>
			<div class="container">
				<div class="inner">
					<h3></h3>
					<div class="flex">
						<div class="code">

						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2></h2>
					<p></p>
				</div>
			</div>
			<div class="container">
				<div class="inner">
					<h3></h3>
					<div class="flex">
						<div class="code">

						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2></h2>
					<p></p>
				</div>
			</div>
			<div class="container">
				<div class="inner">
					<h3></h3>
					<div class="flex">
						<div class="code">

						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2></h2>
					<p></p>
				</div>
			</div>
			<div class="container">
				<div class="inner">
					<h3></h3>
					<div class="flex">
						<div class="code">

						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<footer>

	</footer>
</body>
</html>