<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Geeks CSS</title>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">


</head>
<body>
	<header>

	</header>
	<main>
		<aside>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</aside>
		<div class="content">
			<section id="">
				
			</section>
		</div>

	</main>
	<footer>

	</footer>
</body>
</html>